* {
	margin:0;
	padding:0;
}
body {
	color:#fff;
	font-family:verdana;
	background: url('../img/frisbee.jpeg') no-repeat fixed;
	background-size:100%;
	padding-top:20px;
	x-webkit-transform-style: preserve-3d;
}
#wrapper {
	width:97%;
}
h1 {
	font-family: Georgia;
	font-size:1.2em;
	margin-bottom:.5em;
	margin-left:20px;
}
h2 {
	font-weight:normal;
	font-size:1em;
}
label{
	font-size:.85em;
}
#game {
	padding-left:20px;
}

form {
	float:left;
	margin-left:20px;
	display:none;
}
ul {
	list-style:none;
}
	nav.actions li {
		display:inline;
		margin-right:10px;
	}
	nav.actions li button {
		padding:2px 5px;
		line-height:1.5;
	}
	ul.sets, ul.game {
		width:500px;
		float:left;
		background-color:rgba(0,0,0,.75);
		border-radius:20px;
		border:1px solid #ccc;
	}
	ul.sets li, ul.game li {
		
		padding:2%;
		/*margin:20px 20px 20px 0;
		box-shadow:0 0 6px rgba(0,0,0,0.5);*/
		overflow:hidden;
			position:relative;
	}
	ul.sets h1,
	form h1 {
		text-align:left;
		font-size:1.25em;
		margin-left:0;
	}
	ul.sets h2 {
		color:#666;
	}
	ul.sets strong {
		color:#fff;
	}
	ul.sets p {
		position:absolute;
		right:10px;
		bottom:22px;
	}
/* button */

.delete {
	float: right;
	display: none;
	text-decoration: none;
	color: red;
	font-weight: bold;
}
ul.sets li:hover .delete {
	display:inline-block;
}
.delete:hover {

}

.delete:active {

}

.clearboth {
	clear: both;
}

