<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backbone.js Web App</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" type="text/css" media="screen" >
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen" >
    <link rel="stylesheet" href="css/screen.css" />
    <!-- <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">     -->
  </head>
  <body>
    <div id="wrapper" class="container-fluid">
      
      <h1 id="frisbee_game">Frisbee game</h1>
      
      <article id="game">
        
        <div class="row-fluid">
          <nav class="actions span12">
            <ul>
              <li id="filter">
                <label>Show:</label>
              </li>
              <li class="pull-left"><button class="btn" id="showForm">Add new Set</button></li>
            </ul>
          </nav>
        </div>
        


        <div class="row-fluid">
          <div class="span12">
            <div class="row-fluid">
              <div class="span6">
                <ul class="game cube red">
                </ul>
                <ul class="sets cube">
                </ul>
              </div>

              <div class="span6">
                <form id="addSet" action="#" class="form-add cube hide">
                  
                  <legend>add set</legend>

                  <label for="set">set:</label>
                  <input id="set" placeholder="set" type="number" />

                  <label for="team1">team1:</label>
                  <input id="team1" placeholder="team 1" type="text" />
                  
                  <!-- <label for="team1Score">team 1 score:</label> -->
                  <label for="team1Score">score:</label>
                  <input id="team1Score"  placeholder="t1 score" type="number" class="score" />
                  <span> - </span>
                  <!-- <label for="team2Score">team 2 score:</label> -->
                  <input id="team2Score"  placeholder="t2 score" type="number" class="score" />

                  <label for="team2">team2:</label>
                  <input id="team2" placeholder="team 2" type="text" />
                  
                  <div class="clearfix">
                    <input type="submit" id="add" value="Add" class="btn btn-primary" />
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>
        
      </article>

    </div>

    <script id="SetTemplate" type="text/template">
      <span class="set"><%= set %></span>
      <span class="teamone"><%= team1 %></span>
      <span class="score"><%= team1Score %> - <%= team2Score %></span>
      <span class="teamtwo"><%= team2 %></span>
      <span class="actions"><a href="#" class="delete"><i class="icon-remove icon-red"></i></a></span>
      
    </script>

    <!-- Libraries -->
    <script src="js/libs/jquery-1.7.1.min.js"></script>
    <script src="js/libs/json2.js"></script>
    <script src="js/libs/underscore-min.js"></script>
    <script src="js/libs/backbone-min.js"></script>
    <script src="js/libs/bootstrap.min.js"></script>

    <!-- Application -->
    <script src="js/app/appGame.js"></script>
    <script src="js/app/models/setModel.js"></script>
    <script src="js/app/collections/gameCollection.js"></script>
    <script src="js/app/views/setView.js"></script>
    <script src="js/app/views/resultView.js"></script>
    <script src="js/app/views/gameView.js"></script>


  </body>
</html>