<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Backbone.js Web App</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" >
    <link rel="stylesheet" href="css/bootstrap-theme-cosmo.css" type="text/css" media="screen" >
    <!-- <link rel="stylesheet" href="css/bootstrap-responsive.min.css" type="text/css"  > -->
    <link rel="stylesheet" href="css/screen.css" />
    <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <!-- <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">     -->

  </head>
  <body>
    <nav id="navigatie">
        <ul class="nav">
          <li class="menuButton schedule"><a href="#/schedule">Schedule</a></li>
          <li class="menuButton ranking"><a href="#/ranking">Ranking</a></li>
          <li class="menuButton games"><a href="#/games">Games</a></li>
        </ul>
    </nav>
    <div id="wrapper" class="container-fluid">
      <div id="output"></div>
      <header id="top" class="">
        <a class="nav-btn" id="nav-open-btn" >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <h1><a href="#" class="webtitle">Leaugevine Tournament</a></h1>

      </header><!-- /header -->

        <div id="pulldown">
          <div id="spinner"></div>
        </div>



      <div id="page" class="loaded" role="main"></div>


    </div>

    <script id="gamesTemplate" type="text/template">


      <article id="game">

      <header>
        <h1 id="frisbee_game">Frisbee games</h1>
        <div id="filter">
          <label>Filter:</label>
        </div>
      </header>


        <div class="table">
          <div id="games">
          </div>
        </div>

      </article>




    </script>

        <script id="poolTemplate" type="text/template">

            <article id="pool">
                <header>
                  <h1 id="frisbee_ranking">Frisbee - ranking</h1>
                </header>
                <table class="table">
                    <tr>
                        <th>Team</th>
                        <th>Gespeeld</th>
                        <th>W</th>
                        <th>L</th>
                        <th>PT</th>
                        <th>PV</th>
                        <th>Gem</th>
                    </tr>
                    <tbody id="pool_list">
                    </tbody>
                </table>
        </script>


      <script id="matchesTemplate" type="text/template">
        <article id="schedule">
          <header>
            <h1 id="frisbee_league">Frisbee league</h1>
            <div id="filter">
              <label>Filter:</label>
            </div>
          </header>
            <ul id="matches">
            </ul>

        </article>
      </script>
      <!-- <a href="#/games/<%=id%>" > -->

      <script type="text/template" id="gameTemplate">

      <div class="game"  data-element="<%= id %>">
        <h2 class="model"><%= team_1.name %> - <%= team_2.name %></h2>
        <time class="date"><%= dateFormat(start_time, "ddd, mmm dS, yyyy, hh:MM") %></time>
        <h2 class=""><%= team_1_score + " - " + team_2_score %></h2>
        <div>
          <form action="#" accept-charset="utf-8">
            <input type="number" class="input firstinput" name="team_1_score" required>
            <span class="divider"> - </span>
            <input type="number" class="input" name="team_2_score" required>
            <button class="formSubmit" disabled>Verstuur</button>
          </form>
        </div>
      </div>

      </script>

      <script type="text/template" id="matchTemplate">
        <h2><%= team_1.name %> - <%= team_2.name %></h2>
        <time><%= dateFormat(start_time, "ddd, mmm dS, yyyy, hh:MM") %></time>
        <span><%= tournament.name%> - Sets: <%= tournament.number_of_sets%></span>
      </script>

      <script type="text/template" id="teamTemplate">
        <td><%= team.name %></td>
        <td><%= games_played %></td>
        <td><%= wins %></td>
        <td><%= losses %></td>
        <td><%= points_scored %></td>
        <td><%= points_allowed %></td>
        <td><%= plus_minus %></td>
      </script>

    <!-- Libraries -->
    <script src="js/libs/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="js/libs/bootstrap.min.js"></script>
    <script src="js/libs/json2.js"></script>
    <script src="js/libs/underscore-min.js"></script>
    <script src="js/libs/backbone-min.js"></script>
    <script src="js/libs/dateformat.js"></script>


    <!-- Application -->
    <script src="js/app.js"></script>
    <script src="js/config.js"></script>
    <script src="js/app/models/setModel.js"></script>
    <script src="js/app/models/gameModel.js"></script>
    <script src="js/app/models/matchModel.js"></script>
    <script src="js/app/models/teamModel.js"></script>
    <script src="js/app/collections/gameCollection.js"></script>
    <script src="js/app/collections/poolCollection.js"></script>
    <script src="js/app/collections/matchesCollection.js"></script>
    <script src="js/app/views/setView.js"></script>
    <script src="js/app/views/gameView.js"></script>
    <script src="js/app/views/gamesView.js"></script>
    <script src="js/app/views/matchView.js"></script>
    <script src="js/app/views/matchesView.js"></script>
    <script src="js/app/views/poolView.js"></script>
    <script src="js/app/views/teamView.js"></script>

    <script src="js/router.js"></script>


  </body>
</html>